body {
  background-color: #add8e6;
  
}
h1{
 font-family: 'Audiowide', sans-serif;
 margin-top: 50px;
 margin-bottom: 20px; 
}

a:visited{
  color:none;
}

.filterdiv{
  margin-right: 20px;
}

.filterButton{
  font-family: verdana;
  font-weight: bold;
  color:black;
  background-color: #f4e7e7;
  margin-right: 15px;
  box-shadow: inset 2px 2px 1px rgba(0,0,0,.05);
}


.row {
  margin: 20px;
}


#addButton {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}


#deleteButton{
   color: red;
}

.dropdown-menu > li > a:hover {
    background-color: #fff68f;
    background-image: none;

}

i {
  vertical-align: middle;
}

#online-text{
  color: #004c00;
}

#offline-text{
  color:#990000;
}

.mainCell {
  padding: 20px;
  border-radius: 40px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

mainRow: {
  text-align: center;
}

.subcell {
  padding: 0px;
}

.lSubcell {
  width: 100px;
}

.twitchProfile {
  border-radius: 75px;
  margin: 10px;
  max-height: 125px;
  max-width: 125px;
}

.twitchID {
  font-family: 'Audiowide', sans-serif;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  height: 50x;
  text-align: center;
}

.twitchStatus {
  height: 75px;
  text-align: center;
  font-family: "Abril Fatface", Arial;
  font-size: 18px;
  word-wrap: break word;
  overflow: hidden;
}

.rightSubcellSpan {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin-bottom: 10px;
}

.online {
  color: black;
  background-color: #b2ffb2;
}

.offline {
  color: black;
  background-color: #bdbdbd;
  opacity: .8;
}

.selected {
  opacity: .5;
  background: #ff6873;
}

.mainCell:hover {
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}


strong {
  color: black;
}

.twitchLink {
  text-decoration: underline;
  opacity: 1;
}

.form-control {
  display: inline;
}

.ui-draggable-dragging {
  width: 300px;
  height: 230px;
}


